{% extends 'post/base.html' %}
{% load static %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/about-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Обо мне</h1>
                            <span class="subheading">Это то, что я делаю.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Привет, меня зовут Алексей, я живу в Республике Беларусь, учусь в Минске на инженера-энергетика и уже почти 3 года с переменным успехом изучаю python.</p>
                        <p>Блог, где ты читаешь это сообщение, был создан мной с помощью фреймворка Django. </p>
                        <p>Я решил поставить себе цель в течение года структурировать все свои знания полученные за всё время изучения питона и постараться пройти собеседование и получить свою первую работу.</p>
                        <p>Тут я буду выкладывать посты о своей подготовке к собеседованию(На каких ресурсах беру информацию, как структуризирую её для более лёгкого изучения и рассказываю, как я понял эту информацию), разбирать проекты над которыми буду работать, и общие мысли о подготовке к собеседованию.</p>
                        <p>В первую очередь я создал этот блог для мотивации себя, для более быстрого понимания информации по средствам обучения других(В моём случаем публикации постов).</p>
                        <p>Мои социальные сети:</p>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://vk.com/brainstormgg">
                                    <span class="fa-stack fa-lg">
                                       <i class="fa-brands fa-vk"></i>
                                    </span>
                                </a>
                                <a href="https://www.instagram.com/super_toxic_alien/">
                                    <span class="fa-stack fa-lg">
                                       <i class="fa-brands fa-instagram"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
